.login__input {
  width: 358px;
  font-size: 14px;
  line-height: 17px;
  height: 26px;
  border:none;
  border-bottom: 1px solid #CCC;
  background-color: black;
  box-shadow: none;
  padding: 0;
  margin: 30px auto 0;
  color: white;
}

.login__input::placeholder {
  color: #A9A9A9;
}

@media screen and (min-width: 0) and (max-width: 550px) {
  .login__input {
      width: 169px;
      height: 30px;
    }
  }