.login__submit {
    /* color: black;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    width: 358px;
    height: 50px;
    background-color: #fff;
    margin-top: 173px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    border: 0px; */

    height: 50px;
    width: 358px;
    margin: 150px auto 0;
}

.login__submit:hover {
  opacity: .6;
  cursor: pointer;
}