.login__note {  
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    display: block;
    margin: 0;
}

@media screen and (max-width: 500px) {
    .login__note {
        font-size: 12px;
        line-height: 15px;
    }
}